# Snowflake Credentials
config/snowflake_config.yaml

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment Files
.env

# Airflow
airflow/logs/
airflow/airflow.db

# Spark / Parquet Outputs
data/bronze/**/*.parquet
data/bronze/**/*.crc

data/silver/**/*.parquet
data/silver/**/*.crc

data/gold/**/*.parquet
data/gold/**/*.crc

# Optional Spark metadata
**/_SUCCESS